@import 'reset.css';

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    zoom: 1;
    clear: both;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: black;
}

#navbar {
    width: 100%;
    padding: 16px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-bottom: 2px solid #aaabd3;
    transition: all 0.3s ease-in-out;
}

#navbar.navbar_short {
    padding: 5px;
}

.navbar_logo {
    position: relative;
    margin-left: 1px;
    align-items: center;
}
.navbar_logo:hover {
    transform: scale(1.1);
    transition: 300ms;
}
.navbar_logo_img {
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.navbar_menu {
    display: flex;
}
.navbar_menu_item {
    background-color: #d1b6e1;
    padding: 10px 10px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.navbar_menu li:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.container {
    max-width: 840px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

input {
    width: 600px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    appearance: none;
}

label {
    display: block;
}
#search {
    position: relative;
}
.search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 180px;
}
.search .search_bar {
    width: 600px;
    height: 50px;
    border: 2px solid #5dacbd;
}

.search .search_icon {
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
}

#postingBoard {
    margin-top: 100px;
}

.postingBoard_items {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.postingBoard_item {
    position: relative;
    cursor: pointer;
}

.postingBoard_item:hover {
    transition: 300ms;
    transform: scale(1.2);
}

.postingBoard_item P {
    color: #5dacbd;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 2px;
}

#posts {
    padding-top: 50px;
}

.posts {
    border: 2px solid #8ec0e4;
    border-radius: 10px;
}

#postboard {
    width: 100%;
}

.postboard_header {
    height: 30px;
    text-align: center;
    background-color: #8ec0e4;
    color: white;
}

.postboard_content {
    height: 30px;
    border-top: 2px solid #8ec0e4;
}

.postboard_header_1 {
    border-top-left-radius: 5px;
    width: 12%;
    border-right: 2px solid white;
}

.postboard_header_2 {
    width: 50%;
    border-right: 2px solid white;
}

.postboard_header_3 {
    width: 16%;
    border-right: 2px solid white;
}

.postboard_header_4 {
    width: 14%;
    border-right: 2px solid white;
}

.postboard_header_5 {
    border-top-right-radius: 5px;
    width: 8%;
}

.postboard_content_1 {
    width: 12%;
    border-right: 2px solid#8ec0e4;
    color: black;
}

.postboard_content_2 {
    width: 50%;
    border-right: 2px solid #8ec0e4;
    color: black;
}

.postboard_content_3 {
    width: 16%;
    border-right: 2px solid #8ec0e4;
    color: black;
}

.postboard_content_4 {
    width: 14%;
    border-right: 2px solid #8ec0e4;
    color: black;
}

.postboard_content_5 {
    width: 8%;
    color: black;
}

footer {
    box-sizing: border-box;
    position: relative;
    background-color: #5dacbd;
    margin-top: 100px;
    bottom: 0;
}

.footer__description {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    width: 100vw;
    padding-right: 20px;
    padding-bottom: 10px;
}

#footer a {
    color: white;
}

.contact {
    padding-top: 10px;
    color: white;
    line-height: 30px;
}

.contact img {
    width: 15px;
    display: inline;
}

.welcome {
    position: relative;
    margin-top: 80px;
    color: black;
    align-self: flex-start;
}

.welcome span {
    letter-spacing: 2px;
    font-size: 22px;
}

.login {
    margin-top: 180px;
    align-self: flex-start;
}

.container_contents {
    width: 600px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign {
    position: relative;
    margin-top: 50px;
    text-align: left;
    align-self: center;
}

.sign .sign_items {
    font-weight: 700;
    margin-bottom: 20px;
}

.sign .sign_items input {
    border-style: solid;
    border-color: black;
}

.sign .sign_items label {
    line-height: 30px;
}

.bar {
    display: inline-block;
    width: 1px;
    height: 18px;
    text-indent: -999em;
    background: #e4e4e5;
    vertical-align: bottom;
}

.find_info {
    color: #a5a5a7;
    margin-top: 30px;
}

.mypage {
    margin-top: 80px;
}

.mypage_items {
    align-self: flex-start;
    font-size: large;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
}

.mypage_name {
    font-size: large;
    font-weight: 700;
    align-self: flex-start;
}

.mypage_item {
    margin-top: 60px;
    align-self: flex-start;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mypage_item .right {
    color: black;
}
.mypage_item .left {
    color: black;
}

.my_follow_follower {
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
    font-size: small;
}

.submit {
    cursor: pointer;
}

.submit:hover {
    transition: 300ms;
    transform: scale(1.05);
}

.board_top {
    display: flex;
    justify-content: space-between;
}

.board_writing {
    background-color: orange;
    font-size: 1.3em;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 180px;
}

.board_second {
    display: flex;
    justify-content: space-between;
}

.board_second .search {
    margin: 20px 0 0 0;
}

.board_second .search_bar {
    width: 300px;
}

.writingbox {
    margin-top: 10px;
    font-size: 1.25em;
    text-align: left;
    width: 100%;
    border: 2px solid #5dacbd;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 30px;
}

.writer {
    font-size: 1.25em;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1.5px solid #d1b6e1;
    width: 100%;
    margin-bottom: 20px;
}

.writingbox_board,
.writingbox_title,
.writingbox_contents {
    width: 100%;
    margin-top: 10px;
}

.writingbox_board_input,
.writingbox_title_input {
    width: 100%;
    border: 2px solid #d1b6e1;
    margin-top: 10px;
}

.writingbox_board .writingbox_title_input {
    width: 100%;
    border: 2px solid #d1b6e1;
    margin-top: 10px;
    padding-left: 10px;
}

.select_board {
    border-radius: 10px;
    padding: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border: 2px solid #d1b6e1;
}

.select_board:focus {
    outline: none;
}

.writingbox_contents_input {
    width: 100%;
    border: 2px solid #d1b6e1;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

.writingbox_contents_input {
    resize: none;
    box-sizing: border-box;
}

.writingbox_contents_input:focus {
    outline: none;
}

.writingbox_btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.writingbox_btn a:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.board_writing:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.writingbox_btn .submit {
    width: 150px;
}

#postbox {
    width: 100%;
    padding: 30px 50px 0 50px;
}

#commentbox {
    width: 100%;
    padding: 30px 50px 17px 50px;
}

#posttable,
#commenttable {
    width: 100%;
}

.postbox {
    border: 2px solid #8ec0e4;
    border-radius: 10px;
    background-color: #8ec0e4;
}

.postbox_header {
    background-color: #8ec0e4;
    height: 40px;
}

.postbox_header_1 {
    width: 64%;
    text-align: left;
    border-right: 2px solid white;
    padding-left: 10px;
    border-top-left-radius: 5px;
}

.postbox_header_1 a {
    color: white;
}

.postbox_header_2 {
    width: 12%;
    border-right: 2px solid white;
    color: white;
}

.postbox_header_3 {
    width: 12%;
    border-right: 2px solid white;
    color: white;
}

.postbox_header_4 {
    width: 12%;
    color: white;
    border-top-right-radius: 5px;
}

.postbox_title {
    height: 40px;
    border-bottom: 2px solid #8ec0e4;
    background-color: white;
}

.postbox_title_1 {
    text-align: left;
    padding-left: 10px;
    font-size: 1.3em;
    border-right: 2px solid #8ec0e4;
}

.postbox_title_2 {
    font-size: 1.15em;
    border-right: 2px solid #8ec0e4;
}
.postbox_title_3 {
    font-size: 1.15em;
    border-right: 2px solid#8EC0E4;
}
.postbox_title_4 {
    font-size: 1.15em;
}

.postbox_content {
    height: 400px;
    background-color: white;
}

.postbox_content_1 {
    padding-left: 13px;
    padding-top: 13px;
    vertical-align: top;
    text-align: left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.commentbox {
    border-radius: 10px;
    background-color: #8ec0e4;
    border: 2px solid #8ec0e4;
}

.commentbox_header {
    height: 40px;
}

.commentbox_header_1 {
    width: 15%;
    border-right: 2px solid white;
    color: white;
    border-top-left-radius: 5px;
}

.commentbox_header_2 {
    width: 65%;
    border-right: 2px solid white;
    color: white;
}

.commentbox_header_3 {
    color: white;
    border-top-right-radius: 5px;
}

.commentbox_content {
    height: 40px;
    background-color: white;
}

.commentbox_content_1 {
    width: 15%;
    border-top: 2px solid #d1b6e1;
    border-right: 2px solid #d1b6e1;
    border-bottom-left-radius: 8px;
}

.commentbox_content_2 {
    width: 65%;
    border-top: 2px solid #d1b6e1;
    border-right: 2px solid #d1b6e1;
    text-align: left;
    padding-left: 10px;
}

.commentbox_content_3 {
    width: 15%;
    border-top: 2px solid #d1b6e1;
    border-bottom-right-radius: 8px;
}

.postingBoard_item a i {
    font-size: 56.8px;
    color: orange;
}

.postingBoard_item a p {
    color: orange;
}

.manage_post {
    width: 100%;
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
}

#input_comment {
    margin-top: 10px;
    width: 100%;
    border: none;
    border: 2px solid#8ec0e4;
    height: 40px;
    padding-left: 10px;
}

.deletecomment_btn {
    float: right;
    font-size: small;
    color: red;
    padding-right: 10px;
    line-height: 20px;
}

.mypage_name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.follow_btn {
    font-size: 0.8em;
    background-color: orange;
    color: white;
    padding: 8px 8px;
    border-radius: 8px;
    margin-left: 15px;
}

#follow {
    background-color: #8ec0e4;
    border: 2px solid #8ec0e4;
    height: 40px;
    border-radius: 10px;
    margin: 50px 300px;
}

.follow_header {
    height: 40px;
    color: white;
}

.follow_content {
    height: 40px;
    background-color: white;
}
